/* Задал основное вырвнивание, можно было сюда добавить
    еще минимальную ширину */

.content_section {
  margin: auto;
}

/* Стили для шапки страницы */

.header {
  display: flex;
  width: 1340px;
  min-height: 109px;
  margin: 92px auto 92px auto;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  display: flex;
  list-style: circle;
  font-size: 18px;
  column-gap: 30px;
  white-space: nowrap;
}

.header__links-list-item {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  width: 148px;
  min-height: 109px;
  margin-right: 150px;
}

.header__logo-image {
  display: flex;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  max-width: 240px;
  flex-direction: column;
  row-gap: 5px;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-underline-offset: 5px;
}

/* Стили для секции Cover */

.cover {
  display: flex;
  height: 757px;
  width: 1440px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  flex-direction: column;
  position: relative;
}

.overlay {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  display: flex;
  width: inherit;
  z-index: 1;
  flex-direction: column;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  display: flex;
  margin: 165px 0 0 50px;
}

.aligned-text_center {
  display: flex;
  margin: 10px auto 0 auto;
  padding-right: 30px;
}

.aligned-text_right {
  display: flex;
  margin: 3px 20px 0 auto;
}

.no-letter-spacing {
  margin-left: 30px;
}

.cover__description {
  display: flex;
  width: inherit;
  justify-content: end;
  align-items: end;
  margin-top: 129px;
}

.cover__description-text {
  margin-bottom: 65px;
  margin-right: 83px;
  word-spacing: 17px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 1;
}

.bet-button {
  justify-content: center;
  align-items: center;
  width: 257px;
  min-height: 52px;
  margin-bottom: 50px;
  margin-right: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-family: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
}

/* Стили для секции Lots */

.lots {
  display: flex;
  max-width: 1340px;
  margin-top: 180px;
  flex-direction: column;
}

.lots__heading {
  display: flex;
  margin-left: 40px;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  width: inherit;
  column-gap: 25px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  width: 430px;
  min-height: 450px;
  margin-top: 28px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__heading {
  display: flex;
  z-index: 1;
  width: 350px;
  margin-top: 50px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 650;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  display: flex;
  z-index: 1;
  width: 350px;
  margin-bottom: 50px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.lots__look-more-link {
  display: flex;
  margin-top: 30px;
  margin-left: 40px;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 5px;
}

/* Стили для секции about */

.about {
  display: grid;
  width: 1340px;
  margin-top: 181px;
  grid-template-columns: 1fr 885px;
  row-gap: 25px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-left: 95px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  display: flex;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 75px;
}

.about__text {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* Стили для подвала Footer */

.footer {
  display: flex;
  width: 1340px;
  margin-top: 180px;
  margin-bottom: 90px;
  justify-content: space-between;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  color: black;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 5px;
}

.footer__social-list {
  display: flex;
  width: 240px;
  justify-content: space-between;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
